h1 {
    font-family: 'Roboto', sans-serif;
    color:black;
    text-align:left;
    margin: 20px;
}

p {
            background-color: violet; 
            padding: 10px; 
            border-radius: 5px;
            text-align: center;
            padding: 10px; 
}

span {
            display: block; 
            background-color: yellow; 
            padding: 10px; 
            margin-top: 5px; 
            font-weight: bold; 
}