body {
    background: linear-gradient(to bottom, #b30000, #ff4d4d);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    background: #fff;
    padding: 30px;
    width: 350px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    animation: aparecer 1.5s ease-in-out;
}

h1 {
    color: #b30000;
}

p {
    font-size: 16px;
    margin: 20px 0;
}

button {
    background: #0b8457;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #066b45;
}

.footer {
    margin-top: 15px;
    font-style: italic;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* PAPÁ NOEL */
.santa-grande {
    font-size: 120px;       /* Tamaño grande */
    margin: 15px 0;
    text-align: center;
}

/* NIEVE */
.nieve {
    position: fixed;
    top: -10px;
    color: white;
    font-size: 14px;
    animation-name: caer;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    pointer-events: none;
}

.nieve::before {
    content: "❄";
}

@keyframes caer {
    to {
        transform: translateY(110vh);
    }
}
input {
    padding: 8px;
    width: 80%;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px;
    text-align: center;
}

#saludo {
    font-size: 18px;
    color: #b30000;
    font-weight: bold;
    margin-top: 15px;
}
